.clearfix:before,
.clearfix:after,
.content:before,
.content:after {
  content: "";
  display: table;
}
.clearfix:after,
.content:after {
  clear: both;
}
html,
body {
  padding: 0px;
  margin: 0px;
  background: url(/my/dz10/img/bg-body.jpg) repeat;
  color: #c5baa2;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  height: 100%;
}
/*ширина блока считается как контент+ падинг+бордер*/
* {
  box-sizing: border-box;
}
.content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  min-height: 100%;
}
header {
  width: 85%;
  margin: 0 auto;
  padding-top: 6%;
  color: #6c2a01;
  font-size: 13px;
  font-variant: small-caps;
  text-align: left;
}
@media screen and (max-width: 970px) {
  header {
    margin: 0px 8%;
  }
}
header .left {
  float: left;
}
@media screen and (max-width: 480px) {
  header .left {
    width: 100%;
    float: none;
    text-align: center;
  }
}
header .right {
  float: right;
  margin-top: 30px;
}
@media screen and (max-width: 480px) {
  header .right {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
header .right a {
  color: #ffae19;
  padding: 0px;
  text-align: right;
  text-decoration: none;
}
header .right a:hover {
  color: #660000;
  text-decoration: underline;
}
.mini-menu:before {
  display: none;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .mini-menu:before {
    display: block;
    cursor: pointer;
    border-bottom: 12px double black;
    border-top: 4px solid black;
    content: "";
    height: 4px;
    width: 24px;
    margin-top: 3%;
    margin-bottom: 5%;
  }
}
#menu1 {
  display: none;
}
@media screen and (max-width: 480px) {
  #menu1 {
    margin: 3% 8%;
  }
}
@media screen and (min-width: 481px) {
  #menu1 {
    display: none !important;
  }
}
#menu1 ul {
  list-style-type: none;
  line-height: 140%;
}
#menu1 ul li {
  text-align: left;
}
#menu1 ul li:hover > ul {
  display: block !important;
}
#menu1 ul a,
#menu1 ul span {
  color: #6C2A01;
  cursor: pointer;
  text-decoration: none;
  line-height: 28px;
}
#menu1 ul a:hover,
#menu1 ul span:hover {
  color: #ffae19;
}
#menu1 ul ul {
  display: none;
}
nav {
  background: url(/my/dz10/img/bg-menu.jpg);
  font-size: 100%;
  font-weight: bold;
  font-variant: normal;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin: 9px auto;
  text-align: center;
}
@media screen and (max-width: 480px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  nav {
    font-size: 85%;
  }
}
@media screen and (max-width: 640px) {
  nav {
    font-size: 80%;
  }
}
@media screen and (min-width: 480px) {
  nav {
    display: block !important;
  }
}
nav ul {
  padding: 0px;
  margin: 0;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  position: relative;
  float: left;
  width: 16.5%;
  border-right: solid #ccc 1px;
  border-left: solid #000 1px;
  padding: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
nav ul li:hover > ul {
  display: block;
}
@media screen and (max-width: 480px) {
  nav ul li {
    float: none;
  }
}
nav ul li:hover::before {
  width: 103%;
  background-color: #FFBF2A;
  border: none;
}
nav ul li::before {
  position: absolute;
  left: -2px;
  transition-timing-function: linear;
  transition-duration: 200ms;
  content: '';
  z-index: 0;
  height: 102%;
  width: 0;
  background-color: #6C2A01;
}
nav ul li a {
  color: #ffffff;
  display: block;
  padding: 23% 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}
nav ul li a span {
  font-weight: normal;
  font-size: 70%;
  position: absolute;
  top: 38%;
}
nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  font-size: 9px;
  font-weight: normal;
  left: 15px;
  width: 110px;
  padding: 15px 0;
  background-color: #622201;
}
nav ul li ul li {
  border: none;
  float: none;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul li ul li:hover::before {
  width: 0;
}
nav ul li ul li a {
  text-align: left;
  margin-left: 20px;
  z-index: 2;
  padding: 0 0 0px 10px;
  line-height: 20px;
}
nav ul li ul li a:hover {
  color: #ffae19;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul li ul li ul {
  top: 0px;
  left: 110px;
  background: #d48101;
}
nav ul li ul .lastli {
  line-height: 35px;
  height: 50px;
}
nav ul .first {
  width: 16.7%;
  background-color: #FFBF2A;
  border: none;
  background-image: none;
}
nav ul .first::before {
  z-index: -1;
}
nav ul .last {
  border-right: none;
}
nav ul .last:hover::before {
  width: 107%;
}
.centerpic {
  margin: 0px auto;
  width: 85%;
}
@media screen and (max-width: 970px) {
  .centerpic {
    margin: 0px 8%;
  }
}
.centerpic img {
  width: 100%;
  height: auto;
}
.line {
  background-image: url(/my/dz10/img/divider.png);
  background-repeat: repeat-x;
  margin: 0px auto;
  width: 95%;
}
section {
  width: 95%;
  margin: 1% auto;
  text-align: center;
}
section .welcome {
  font-size: 140%;
  line-height: 1.8em;
  color: #642503;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1%;
  margin-bottom: 5%;
}
.leftt {
  padding-bottom: 150px;
  text-align: left;
}
.leftt .article {
  float: left;
  margin: 1%;
  width: 30.93%;
  padding: 1%;
}
@media screen and (max-width: 639px) {
  .leftt .article {
    width: 100%;
    display: block;
  }
}
.leftt .article .wrap {
  font-size: 90%;
  line-height: 21px;
}
.leftt .article .wrap img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 639px) {
  .leftt .article .wrap img {
    width: 50%;
    height: auto;
  }
}
.leftt .article .buton {
  font-size: 90%;
  text-decoration: none;
  display: none;
}
@media screen and (max-width: 480px) {
  .leftt .article .buton {
    display: inline-block;
    text-decoration: none;
    font-size: 90%;
  }
}
.leftt .article .orange {
  color: #ff9f11;
  text-decoration: underline;
}
.leftt .article .orange:hover {
  color: #642503;
}
@media screen and (max-width: 480px) {
  .leftt {
    /*расстояние до футера*/
    padding-bottom: 250px;
  }
}
.leftt h2 {
  font-size: 130%;
  line-height: 1.8em;
  color: #d29858;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1%;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .leftt h2 {
    font-size: 120%;
  }
}
@media screen and (max-width: 639px) {
  .leftt h2 {
    font-size: 130%;
  }
}
@media screen and (max-width: 480px) {
  .leftt h2 {
    font-size: 140%;
  }
}
.leftt h2 span {
  display: block;
  margin-top: -10px;
}
.article {
  float: left;
  width: 30.93%;
  margin: 1%;
  font-size: 90%;
  line-height: 21px;
}
@media screen and (max-width: 639px) {
  .article {
    width: 100%;
    float: none;
  }
}
.article img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 639px) {
  .article img {
    width: 50%;
    height: auto;
  }
}
.article a {
  text-decoration: none;
  cursor: pointer;
}
.article .img {
  display: inline-block;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 5%;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.11);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.11);
}
.article .img img {
  display: block;
  width: 100%;
}
.article h2 {
  font-size: 130%;
  line-height: 1.8em;
  color: #d29858;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1%;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .article h2 {
    font-size: 120%;
  }
}
@media screen and (max-width: 639px) {
  .article h2 {
    font-size: 130%;
  }
}
@media screen and (max-width: 480px) {
  .article h2 {
    font-size: 140%;
  }
}
.article h2 span {
  display: block;
  margin-top: -10px;
}
.article p {
  margin-top: 0px;
  padding: 0px 1%;
}
.article .brown {
  font-size: 12px;
  color: #723002;
  font-weight: bold;
  margin-top: 7%;
  margin-bottom: 10%;
}
.button {
  display: inline-block;
  padding: 4% 8%;
  margin: 0;
  font-weight: bold;
  background: #ff9f11;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease;
  text-shadow: 0 1px #e39212;
  -webkit-border-radius: 9px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9px;
  -moz-background-clip: padding;
  border-radius: 9px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 639px) {
  .button {
    padding: 2% 6%;
    margin-bottom: 10px;
  }
}
.button:hover {
  background: #642503;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .buton {
    display: none;
  }
}
.buton div {
  display: inline-block;
  width: 32.7%;
  padding: 0px 1%;
}
.buton div a {
  text-decoration: none;
  font-size: 90%;
  margin-top: 0;
}
.button1 {
  background: #622101;
  text-shadow: 0px 1px #581e01;
  margin-top: 1%;
}
.button1:hover {
  background: #eaaf00;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
.number {
  display: block;
  text-align: center;
  float: left;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  background: #ff9f11;
  font-size: 30px;
  line-height: 1.2em;
  color: #fff;
  width: 52px;
  height: 52px;
  margin: 6px 8px 0 0;
  padding: 6px 0 0 0;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}
h6 {
  font-size: 105%;
  line-height: 1.2em;
  color: #d49d53;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.wwrap {
  margin-bottom: 8%;
}
.second {
  margin-top: 20%;
}
footer {
  background: url(/my/dz10/img/footer-after.jpg) repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2%;
}
footer .wrapp {
  float: left;
  width: 30.93%;
  margin: 1%;
  text-align: left;
  font-size: 90%;
  line-height: 21px;
}
@media screen and (max-width: 480px) {
  footer .wrapp {
    float: none;
    width: 100%;
  }
}
footer .wrapp div a {
  display: inline-block;
  width: 34px;
  height: 34px;
}
footer .wrapp div .soc1 {
  background: url(/my/dz10/img/icon.png) no-repeat scroll 0 0;
}
footer .wrapp div .soc1:hover {
  background: url(/my/dz10/img/icon.png) no-repeat scroll 0 -34px;
}
footer .wrapp div .soc2 {
  background: url(/my/dz10/img/icon-1.png) no-repeat scroll 0 0;
}
footer .wrapp div .soc2:hover {
  background: url(/my/dz10/img/icon-1.png) no-repeat scroll 0 -34px;
}
footer .wrapp div .soc3 {
  background: url(/my/dz10/img/icon-2.png) no-repeat scroll 0 0;
}
footer .wrapp div .soc3:hover {
  background: url(my/dz10/img/icon-2.png) no-repeat scroll 0 -34px;
}
footer .wrapp div .soc4 {
  background: url(/my/dz10/img/icon-3.png) no-repeat scroll 0 0;
}
footer .wrapp div .soc4:hover {
  background: url(/my/dz10/img/icon-3.png) no-repeat scroll 0 -34px;
}
footer p {
  font-size: 140%;
  line-height: 1.2em;
  color: #efdcc5;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 7px;
}
footer span,
footer a {
  line-height: 1.2em;
  color: #e0bd8a;
  text-transform: uppercase;
  font-size: 75%;
  font-style: normal;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
